<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须是对应接口的全类名 -->
<mapper namespace="com.lynas.mapper.ArticleMapper">
  <!--动态Sql-->
  <!-- select 标签的id 是mapper文件中的方法名-->
  <!-- resultType 是实体类-->
  <select id="articlePge" resultType="com.lynas.domain.entity.Article">
    select * from article
    <where>
      <if test="categoryId != null">
        category_id = #{categoryId}
      </if>
      <if test="state != null">
        and state = #{state}
      </if>
      and create_user = #{userId}
    </where>
  </select>
</mapper>